<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>You've Never Seen That?</h1>
    <p>What are the MUST see movies?  Sign up, add some movies, and vote on the ones you think are must see movies!</p>
    <p><%= link_to "Sign Up To Write a Review!", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>
<div class="page-header">
  <h1>Must see?  Click Like.<small>  Don't Agree?  Click Dislike</small></h1>
</div>
<%= will_paginate %>
<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
      </div>
       <div class="btn-group pull-left">
          <%= link_to like_movie_path(movie), method: :put, class: "upvote btn btn-default btn-sm", remote: true, data: { type: :json } do %>
            <span class="glyphicon glyphicon-chevron-up"></span>
            <span class="likeit">Like <%= movie.get_upvotes.size %></span>
          <% end %>
          <%= link_to dislike_movie_path(movie), method: :put, class: "downvote btn btn-default btn-sm", remote: true, data: { type: :json } do %>
            <span class="glyphicon glyphicon-chevron-down"></span>
            <span class="dislikeit">Dislike <%= movie.get_downvotes.size %></span>
          <% end %>
        </div>              
    </div>
  <% end %>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60208418-1', 'auto');
  ga('send', 'pageview');
</script>
<script>
  $('.upvote')
    .on('ajax:send', function () { $(this).addClass('loading'); })
    .on('ajax:complete', function () { $(this).removeClass('loading'); })
    .on('ajax:error', function () { window.location.replace("<%= new_user_session_path %>"); })
    .on('ajax:success', function (e, data, status, xhr) { $('.likeit', this).html("Like " + data.count); });
</script>
<script>
  $('.downvote')
    .on('ajax:send', function () { $(this).addClass('loading'); })
    .on('ajax:complete', function () { $(this).removeClass('loading'); })
    .on('ajax:error', function () { window.location.replace("<%= new_user_session_path %>"); })
    .on('ajax:success', function (e, data, status, xhr) { $('.dislikeit', this).html("Dislike " + data.count); });
</script>
<%= will_paginate %>