<!DOCTYPE html>
<html>
  <head>
    <title>Never Scene: Vote for Must See Movies</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="keywords" content="top movies, top rated movies, must see movies, best movies">
    <meta name="description" content="MUST see movies voted by users!">
    <meta name="author" content="Nate Dalo">
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert alert-info") %>
      <% end %>
      <%= yield %>
      <p>This product uses the <%= link_to 'TMDb', 'https://www.themoviedb.org' %> API but is not endorsed or certified by TMDb.</p>
      <%= image_tag image_path('tmdb.png') %>
    </div>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
